h1 {
    color: #3090C7;
}

table {
    border-collapse: collapse;
    width: 55%;
    height: 100%;
    margin: 0 auto;
}

th,
td {
    border: 2px solid black;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #D8D8D8;
    width: 100px;
    height: 70px;
}

td:hover {
    background-color: #F3F781;
    cursor: pointer;
}
